
html {
	all: initial;
}

body {
	background-color: white;
}

.msg-container {
	position: absolute;
	bottom: 34.07vh;
	left: 5vw;
	right: 26.04vw;

	color: #00404A;
}

.msg {
	font-family: Atlas-Medium;
	color: #00404A;
	font-size: 12.96vh;
	line-height: 15.56vh;
}

.msg-mask {
	position: absolute;
	height: 100vh;
	width: 100vw;

	clip-path: inset(0 0 34.07vh 0);
}

.widget_background {
	position: absolute;
	top: 0;
	left: 74.67vw;
	right: 5.76vw;

	height: 20.32vh;

	background-color: #00404A;
}

.widget {
	position: absolute;
	top: 0;
	left: 74.66vw;
	right: 5.73vw;

	height: 20.33vh;

	background-color: #feca34;
}

.widget-placeholder {
	position: relative;
	top: 50%;

	display: block;
	height: 15vh;
	margin: auto;
	margin-top: -7.5vh;
}

.widget-container {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.widget-text {
	font-family: Atlas-Medium;
	color: #00404A;
	font-size: 6.38vh;
}

.widget-img {
	margin-right: 0.5vw;
	width: 4.7vw;
}

.logo-img {
	position: absolute;
	top: 4.17vh;
	left: 5vw;

	width: 18.75vw;
}

.gradient-img {
	position: absolute;
	top: 0;

	height: 300vh;
}