@font-face {
  font-family: "Atlas-Regular";
  src: url("Atlas-Grotesk-Web-Light-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Atlas-Bold";
  src: url("Atlas-Grotesk-Web-Bold-Regular.otf") format("opentype");
}
body {
	overflow: hidden;	
}