.message_container_bottom {
    position: absolute;
    left: 50%;
    bottom: 10%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #DF7A00;
    padding: 10px;
    color: white;
    font-weight: 600;
    font-size: 1.5vw;
    letter-spacing: 1.0px;
    margin: 0px;
    white-space: nowrap;
}

.message_container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1001;
}

#message_progress {
    text-align: center;
    text-shadow: 0px 1px 1px #4d4d4d;
    color: #222;
    font-size: 30px;
    z-index: 1001;
}

.message_background {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgb(0, 0, 0);
}

.loading {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.loading div {
    position: absolute;
    border: 10px solid #1f74ff;
    opacity: 1;
    border-radius: 50%;
    animation: loading 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loading div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes loading {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -121px;
        left: -121px;
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

.center_load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.default_content {
    position: absolute;
    z-index: 9999;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
    /* remove any pre-existing padding, just in case */
    background-image: url(default_nodata_landscape.png);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Media Query Start */

@media (max-width: 1080px) and (max-height: 1920px) {
    .message_container_bottom {
        font-weight: 600;
        font-size: 3.5vw;
        letter-spacing: 1.0px;
        text-align: center;
    }
    .default_content {
        background-image: url(../img/default_nodata_portrait.png);
    }
}

/*SMALL SCREEN LANDSCAPE*/

@media (max-width: 1280px) and (max-height: 720px) {
    .default_content {
        background-image: url(default_nodata_landscape.png);
    }
}

/*SMALL SCREEN PORTRAIT*/

@media (max-width: 720px) and (max-height: 1280px) {
    .message_container_bottom {
        font-weight: 600;
        font-size: 3.5vw;
        letter-spacing: 1.0px;
        text-align: center;
    }
    .default_content {
        background-image: url(../img/default_nodata_portrait.png);
    }
}