
html {
	all: initial;
}

body {
	background-color: #F1F3F3;
}

.img-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 50vw;
	bottom: 16.7vh;
}

.img-mask {
	position: absolute;
	margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;


	width: 38.3vw;
	height: 68.1vh;
}

.img {
	height: 100%;
	width:100%;
	object-fit: contain;
}

.msg-container {
	position: absolute;
	top: 0;
	left: 50vw;

	color: #00404A;
}

.msg, .divider {
	font-family: Atlas-Regular;
	font-size: 5.7vw;

	margin-top: 6.4vh;
	margin-bottom: 0;
}
.divider {
	margin: 0;
}

.name {
	font-family: Atlas-Bold;
	font-size: 3.9vw;

	margin: 0;
}

.position, .number {
	font-family: Atlas-Regular;
	font-size: 3.9vw;

	margin: 0;
}

.footer {
	position: absolute;
	top: 83.3vh;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: white;
}

.footer-img {
	position: absolute;
	top: 20%;
	left: 5vw;

	height: 10vh;
}