
html {
	all: initial;
}

body {
	background-color: #F1F3F3;
}

.img-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 43.75vh;
}

.img-mask {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;


	height: 44.8vh;
	width: 79.6vw;
}

.img {
	height: 100%;
	width:100%;
	object-fit: contain;
}

.msg-container {
	position: absolute;
	top: 56.25vh;
	left: 8vw;

	color: #00404A;
}

.msg, .divider {
	font-family: Atlas-Regular;
	font-size: 5.7vh;

	margin-top: 0;
	margin-bottom: 0;
}
.divider {
	margin: 0;
}

.name {
	font-family: Atlas-Bold;
	font-size: 3.9vh;

	margin: 0;
}

.position, .number {
	font-family: Atlas-Regular;
	font-size: 3.9vh;

	margin: 0;
}

.footer {
	position: absolute;
	top: 89.5vh;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: white;
}

.footer-img {
	position: absolute;
	top: 25%;
	left: 5.2vw;

	height: 5.2vh;
}