html {
  content: url('./img_unsupported.png');
  width: 100vw;
  height: 100vh;
  margin: auto;
  object-fit: contain;
  color: black;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
}

.design-template,
.design-template * {
  animation-play-state: paused;
}