.animate-FadeUp {
  animation-name: fade_up;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-duration: 1s;
  will-change: opacity;
}

.animate-FaderLeft {
  animation-name: fade_left;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-duration: 1s;
  will-change: opacity;
}

.footer {

	animation-delay: 0.3s;
}

.widget {
	animation-delay: 0.6s;
}

@keyframes fade_up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    animation-play-state: paused;
  }
}

@keyframes fade_left {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    animation-play-state: paused;
  }
}