
html {
	all: initial;
}

body {
	background-color: #00404A;
}

.msg-container {
	position: absolute;
	top: 7.8vh;
	left: 9.2vw;
	right: 10vw;
}

.msg {
	font-family: Atlas-Regular;
	color: white;
	font-size: 7.2vh;
}

.widget {
	position: absolute;
	right: 11.5vw;
	bottom: 14.8vh;
}

.widget-img {
	height: 15vh;
}

.footer {
	position: absolute;
	top: 89.5vh;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: white;
}

.footer-img {
	position: absolute;
	top: 25%;
	left: 5.2vw;

	height: 5.2vh;
}