
html {
	all: initial;
}

body {
	background-color: #00404A;
}

.msg-container {
	position: absolute;
	top: 8vh;
	left: 8.3vw;
	right: 40vw;
}

.msg {
	font-family: Atlas-Regular;
	color: white;
	font-size: 7.8vw;
}

.widget {
	position: absolute;
	right: 5vw;
	bottom: 25vh;
}

.widget-img {
	height: 27vh;
}

.footer {
	position: absolute;
	top: 83.3vh;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: white;
}

.footer-img {
	position: absolute;
	top: 20%;
	left: 5vw;

	height: 10vh;
}