html {
	all: initial;
}

/* HEADER */
.header {
	position: absolute;
	top     : 0;
	left    : 0;
	width   : 100vw;
	height  : 9.4vh;

	display    : flex;
	align-items: center;

	background-color: white;
	box-shadow      : 0 0 20px #c4c4c4;
	z-index         : 10;
}

.header-logo {
	margin-left: 3.56vw;
	height     : 5.4vh;
}

.header-text {
	font-size: 2.7vw;
	width    : 100%;

	text-align  : center;
	margin-right: 3.56vw;
}

/* BODY */
.body-container {
	position: absolute;
	top     : 9.4vh;
	bottom  : 9.4vh;
	left    : 0;
	width   : 100vw;

	font-size  : 2.7vw;
	line-height: 3.3vw;

	/* background-color: white; */
	background-color: #F1F3F3;
}

#carousel {
	width: 100vw;
}

.carouse-item {
	height: 81.2vh !important;
	margin: 0 3.56vw;

	display    : flex !important;
	align-items: center;
}

.item-container {
	display   : flex !important;
	max-height: 80vh;
}

.image {
	margin-right   : 3.56vw;
	max-width      : 42.98vw;
	/* float       : left; */

	object-fit     : contain;
	object-position: top;
}

.headline {
	/* margin-top : 10.3vh; */
	font-family: 'Atlas-Grotesk-Web-Bold';
	font-weight: bold;
	width      : 47vw;
	float      : right;
}

.subheadline {
	margin-top: 4vh;
	width     : 47vw;
	float     : right;
}

/* FOOTER */
.footer {
	position: absolute;
	bottom  : 0;
	left    : 0;
	width   : 92.88vw;
	height  : 9.4vh;

	background-color: white;
	box-shadow      : 0 0 20px #c4c4c4;
	z-index         : 10;

	padding: 0 3.56vw 0 3.56vw;

	display    : flex;
	align-items: center;
}

.widget-time-container {
	display       : flex;
	flex-direction: column;

	font-size: 2vw;
	flex-grow: 6;
}

#time {
	font-family: 'Atlas-Grotesk-Web-Bold';
}

#date {
	font-size: 1vw;
}

.widget-weather-container {
	flex-grow      : 0.5;
	display        : flex;
	align-items    : center;
	justify-content: flex-end;

	font-size: 1vw;
}

.widget-text-container {
	display       : flex;
	flex-direction: column;

	margin-left: 2vw;
}

.widget-img {
	width: 6vh;
}

.widget-text {
	font-family: 'Atlas-Grotesk-Web-Bold';
	font-size  : 1.8vw;

	margin-right: 1vw;
}

.temp2 {
	color: black
}

.inner-text-container {
	display        : flex;
	justify-content: flex-start;
}