@import "style-unsupported.css";
@import "portrait.css"screen and (aspect-ratio: 9/16);
@import "portrait.css"screen and (aspect-ratio : 3/4);
@import "landscape.css"screen and (aspect-ratio : 4/3);
@import "landscape.css"screen and (aspect-ratio : 16/9);

html,
body {
    height: 100vh;
    width: 100vw;
    
    overflow: hidden;
    margin  : 0;
    color: #00404A;

    font-family: 'Atlas-Grotesk-Web-Light';
}

.guide {
    display          : none;
    background-image : url('../guide.png');
    background-repeat: no-repeat;
    background-size  : 100vw 100vh;

    position: absolute;
    height  : 100vh;
    width   : 100vw;

    z-index: 1;
}

.widget-weather-container {
    display: none;
}

@font-face {
    font-family: "Atlas-Grotesk-Web-Bold";
    src        : url('fonts/Atlas-Grotesk-Web-Bold.otf');
}

@font-face {
    font-family: "Atlas-Grotesk-Web-Light";
    src        : url('fonts/Atlas-Grotesk-Web-Light.otf');
}

@font-face {
    font-family: "Atlas-Grotesk-Web-Medium";
    src        : url('fonts/Atlas-Grotesk-Web-Medium.otf');
}