html {
	all: initial;
}

/* HEADER */
.header {
	position: absolute;
	top     : 0;
	left    : 0;
	width   : 100vw;
	height  : 9.4vh;

	display    : flex;
	align-items: center;

	background-color: white;
	box-shadow      : 0 0 20px #c4c4c4;
	z-index         : 10;

}

.header-logo {
	margin-left: 3.56vw;
	height     : 3.4vh;
}

.header-text {
	font-size: 1.7vh;
	width    : 100%;

	text-align  : center;
	margin-right: 3.56vw;
	font-family : 'Atlas-Grotesk-Web-Bold';
}

/* BODY */
.body-container {
	position: absolute;
	top     : 9.4vh;
	bottom  : 9.4vh;
	left    : 0;
	width   : 100vw;

	font-size  : 2.7vh;
	line-height: 3.3vh;

	/* background-color: white; */
	background-color: #F1F3F3;
}

.carouse-item {
	height: 81.2vh !important;

	margin: auto 3.56vw;

	display        : flex !important;
	flex-direction : column;
	justify-content: center;
}

.headline {
	order      : -1;
	font-family: 'Atlas-Grotesk-Web-Bold';
	font-weight: bold;
}

.image {
	margin-top: 2.2vh;
	width     : 92.98vw;
}

.subheadline {
	margin-top: 4vh;
}

/* FOOTER */
.footer {
	position: absolute;
	bottom  : 0;
	left    : 0;
	width   : 92.8vw;
	height  : 9.4vh;

	background-color: white;
	box-shadow      : 0 0 20px #c4c4c4;
	z-index         : 10;

	padding: 0 3.56vw 0 3.56vw;

	display    : flex;
	align-items: center;
}

.widget-time-container {
	display       : flex;
	flex-direction: column;

	font-size: 2vh;
	flex-grow: 6;
}

#time {
	font-family: 'Atlas-Grotesk-Web-Bold';
}

#date {
	font-size: 1vh;
}

.widget-weather-container {
	flex-grow      : 0.5;
	display        : flex;
	align-items    : center;
	justify-content: flex-end;

	font-size: 1vh;
}

.widget-text-container {
	display       : flex;
	flex-direction: column;

	margin-left: 2vw;
}

.widget-img {
	width: 6vh;
}

.widget-text {
	font-family: 'Atlas-Grotesk-Web-Bold';
	font-size  : 1.8vh;

	margin-right: 1vw;
}

.temp2 {
	color: black
}

.inner-text-container {
	display        : flex;
	justify-content: flex-start;
}