.logo-img {
  animation-name: logo_anim;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
}

.headline-anim {
  display: block;
  animation-name: headline_anim;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 0.2s;
  overflow-wrap: break-word;
}

.span2 {
  animation-delay: 0.4s;
}

.span3 {
  animation-delay: 0.6s;
}

.span4 {
  animation-delay: 0.8s;
}

.divider {
  /*animation-name: divider_anim;*/
  animation-name: headline_anim;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: calc(0.3s + var(--delay));
}

.img-container {
  animation-name: photo_anim;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: calc(1.8s + var(--delay));
}

.name {
  animation-name: headline_anim;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: calc(2s + var(--delay));
}

.position {
  animation-name: headline_anim;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: calc(2.1s + var(--delay));
}

.number {
  animation-name: headline_anim;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: calc(2.2s + var(--delay));
}

@keyframes logo_anim {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes divider_anim {
  0% {transform: translatex(-30vw);}
  100% {transform: translatex(0);}
  /*0% {clip-path: inset(0 100% 0 0);}*/
  /*100% {clip-path: inset(0 87% 0 0);}*/
}

@keyframes photo_anim {
  0% {transform: translateX(100vw); opacity:  0;}
  100% {transform: translateX(0); opacity:  1;}
}

/*Portrait*/
@media (orientation: portrait) {

  @keyframes headline_anim {
    0% {transform: translatex(-100vw);}
    100% {transform: translatex(0);}
  }
}