@font-face {
  font-family: "Atlas-Regular";
  src: url("Atlas-Grotesk-Web-Light-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Atlas-Bold";
  src: url("Atlas-Grotesk-Web-Bold-Regular.otf") format("opentype");
}
body {
	overflow: hidden;
	padding: 0;
	margin: 0;	
}

.container {
	display: none;
}

:root {
	--delay: 0s;
}

.height100 {
	height: 100%;
}

.width100 {
	width: 100%;
}