
html {
	all: initial;
}

body {
	background-color: white;
}

.logo-img {
	position: absolute;
	top: 3.28vh;
	left: 8.24vw;

	height: 5.98vh;
	z-index: 1
}

.img-container {
	height: 56vh;

	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
}

.img-container img {
	position: absolute;
	right: 0;
	bottom: 0;
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;

	z-index: -1;
}

.msg-container {
	position: absolute;
	top: 0;
	left: 8.24vw;
	right: 8vw;

	color: #00404A;
}

.headline_mask, .name_mask, .position_mask, .number_mask {
	position: relative;
	width: 90vw;

	clip-path: inset(0 0 0 0);
}

.msg, .divider {
	font-family: Atlas-Regular;
	font-size: 5.7vh;

	margin-top: 13.33vh;
	margin-bottom: 0;
}

.divider {
	margin: 0;
}

.name {
	font-family: Atlas-Bold;
	font-size: 3.9vh;

	margin: 0;
}

.position, .number {
	font-family: Atlas-Regular;
	font-size: 3.9vh;

	margin: 0;
}

.number {
	margin-bottom: 2vh;
}