
html {
	all: initial;
}

body {
	background-color: white;
}

.logo-img {
	position: absolute;
	top: 6vh;
	left: 4.6875vw;

	height: 9.25vh;
	z-index: 1
}

.img-container {
	position: absolute;
	top: 0;
	left: 50vw;
	right: 0;
	bottom: 0;

	overflow: hidden;
}

.img-container img {
	position: absolute;
	right: 0;
	bottom: 0;
	object-fit: cover;

	z-index: -1;
}

.msg-container {
	position: absolute;
	top: 0;
	left: 4.63vw;
	right: 54vw;

	color: #00404A;
}

.headline_mask, .name_mask, .position_mask, .number_mask {
	position: relative;
	width: 50vw;

	clip-path: inset(0 0 0 0);
}

.msg, .divider {
	font-family: Atlas-Regular;
	font-size: 5.7vw;

	margin-top: 25vh;
	margin-bottom: 0;
}
.divider {
	margin: 0;
}

.name_mask {
	position: relative;
	width: 50vw;

	clip-path: inset(0 0 0 0);
}

.name {
	font-family: Atlas-Bold;
	font-size: 3.9vw;

	margin: 0;
}

.position, .number {
	font-family: Atlas-Regular;
	font-size: 3.9vw;

	margin: 0;
}