body {
    position: fixed;
    background: #f1f0ec;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

/* .container {
  -webkit-animation: fade-out 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 9s both infinite;
	        animation: fade-out 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 9s both infinite;
} */

@-webkit-keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}


@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-7-9 16:45:28
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-7-9 16:52:14
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}

@keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}


/*  _ ___ ___ __    ___         _            _ _
 / / _ \_  )  \  | _ \___ _ _| |_ _ _ __ _(_) |_
 | \_, // / () | |  _/ _ \ '_|  _| '_/ _` | |  _|
 |_|/_//___\__/  |_| \___/_|  \__|_| \__,_|_|\__|
 */
@media all and (min-width: 900px) and (max-width: 1200px) {



    .container {
        position: absolute;
        width: 980px;
        height: 1920px;
        z-index: 1;
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 4.1em;
        margin-top: 97px;
    }

    .background-imagez img {
        position: absolute;
        z-index: 0;
        opacity: 0.5;
        top: 40px;
    }

    .headline-container {
        display: inline-block;
        margin-left: 7px;
        margin-right: 20px;
        width: 100%;
    }

    #headline-one {
        margin-bottom: 6px;
        font-family: AtlasGrotesk-Bold;
        letter-spacing: -4px;
        margin-right: 0.4em;
        color: #029777;
        line-height: 1.1em;
        -webkit-animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
        animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
    }

    #headline-two {
        margin-bottom: 10px;
        font-family: AtlasGrotesk-Bold;
        letter-spacing: -2px;
        margin-right: 0.4em;
        color: #029777;
        line-height: 1.1em;
        -webkit-animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.4s both;
        animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.4s both;
    }

    .headline-sub-container {
        position: absolute;
        top: 31%;
    }

    #headline-sub {
        font-family: AtlasGrotesk-Black;
        width: 970px;
        color: #00404a;
        -webkit-animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.7s both;
        animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.7s both;
    }

    .container-for-flex {
        position: absolute;
        display: flex;
        flex-direction: row;

        right:30px;
        top: 640px;
        width: 970px;
        height: 500px;
    }

    .dynamic-rate {
        position: relative;
        display: flex;
        flex-direction: row;
        right: 280px;
    }

    .rate-one-container {
        position: relative;
        display: flex;
        flex-direction: row;
        color: #00404a;
        width: 1755px;
        height: 400px;
        -webkit-animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.9s both;
        animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.9s both;
    }

    .period-one {
        position: relative;
        bottom: 125px;
        font-size: 160px;
        font-family: AtlasGrotesk-Medium;
    }

    .percentage-one {
        position: relative;
        font-family: AtlasGrotesk-Medium;
        font-size: 85px;
        bottom: 34px;
        left:1px;
    }

    .per-annum-one {
        position: relative;
        font-family: AtlasGrotesk-Light;
        font-size: 60px;
        letter-spacing: -3px;
        top: 60px;
        right: 1.65em;;
    }

    #rate-one-whnu {
        font-family: AtlasGrotesk-Medium;
        font-size: 321px;
        text-align: right;
    }

    #rate-one-spch {
        position: relative;
        font-family: AtlasGrotesk-Medium;
        font-size: 35px;
        top: 56px;
        right: 12px;
    }

    #rate-one-denu {
        font-family: AtlasGrotesk-Medium;
        font-size: 160px;
        position: relative;
        top: 34px;
        right: 10px;
        letter-spacing: -12px;
    }

    #rate-one-capt {
        position: relative;
        top: 205px;
        left: 4px;
        width:255px;
        font-size: 27px;
        font-family: AtlasGrotesk-Bold;
    }

    /*
    Marshmelooooooo
  */


    .stroke img {
        position: relative;
        right: 424px;
        top:50px;
        width: 9.4em;
        height: 15.6em;
        -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.3s both;
        animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.3s both;
    }

    /*
    Marshmelooooooo
  */


    .period-two {
        position: relative;
        bottom:120px;
        left:80px;
        font-size: 160px;
        font-family: AtlasGrotesk-Medium;
    }


    .rate-two-container {
        position: relative;
        display: flex;
        flex-direction: row;
        right: 470px;
        color: #00404a;
        width: 455px;
        height: 400px;
        -webkit-animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.9s both;
        animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.9s both;
    }

    .percentage-two {
        position: relative;
        font-size: 85px;
        left:87px;
        bottom:34px;
        font-family: AtlasGrotesk-Medium;
    }

    .per-annum-two {
        position: relative;
        right:14px;
        top:61px;
        font-size: 60px;
        letter-spacing: -3px;
        font-family: AtlasGrotesk-Light;
    }

    #rate-two-whnu {
        position: relative;
        font-family: AtlasGrotesk-Medium;
        font-size: 321px;
        right:10px;
    }

    #rate-two-denu {
        font-family: AtlasGrotesk-Medium;
        position: relative;
        top: 35px;
        left:75px;
        font-size: 160px;
        letter-spacing: -12px;
    }

    #rate-two-spch {
        position: relative;
        top:53px;
        left:75px;
        font-family: AtlasGrotesk-Medium;
        font-size: 35px;
    }

    #rate-two-capt {
        position: relative;
        top:202px;
        font-size: 27px;
        font-family: AtlasGrotesk-Bold;
        width: 260px;
    }

    /*
____________       __________                      ________
__  ___/_  /______ __  /___(_)______               ___  __/__      _______
_____ \_  __/  __ `/  __/_  /_  ___/  ________     __  /  __ | /| / /  __ \
____/ // /_ / /_/ // /_ _  / / /__    _/_____/     _  /   __ |/ |/ // /_/ /
/____/ \__/ \__,_/ \__/ /_/  \___/                 /_/    ____/|__/ \____/  */


    .rate-note-container {
        position: absolute;
        color: #00404a;
        top: 51%;
        left: -1%;
        height: 100px;
    }

    #rate-note {
        font-family: AtlasGrotesk-Bold;
        font-size: 25px;
        text-align: left;
        letter-spacing: -0.3px;
        -webkit-animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 1.2s both;
        animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 1.2s both;
    }

    .call-to-action-container {
        color: #00404a;
        position: absolute;
        top: 60.6%;
        left: -0.5%;
    }

    #call-to-action {
        font-family: AtlasGrotesk-Black;
        font-size: 35px;
        letter-spacing: -0.3px;
        -webkit-animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 1.9s both;
        animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 1.9s both;

    }

    .badge-container {
        /*
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
*/
        justify-content: space-around;
        position: absolute;
        top: 71.3%;
        right: 0%;
        width: 400px;
        height: 190px;
    }

    #award-badge-one {
        position: absolute;
        width: 160px;
        height: 160px;
        -webkit-animation: scale-in-top 1.8s cubic-bezier(0.190, 1.000, 0.220, 1.000) 3s both;
        animation: scale-in-top 1.8s cubic-bezier(0.190, 1.000, 0.220, 1.000) 3s both;

    }

    #award-badge-two {
        position: absolute;
        left: 150px;
        width: 160px;
        height: 160px;
        -webkit-animation: scale-in-top 1.8s cubic-bezier(0.190, 1.000, 0.220, 1.000) 2.5s both;
        animation: scale-in-top 1.8s cubic-bezier(0.190, 1.000, 0.220, 1.000) 2.5s both;
    }

    #award-badge-three {
        position: absolute;
        right: 70px;
        bottom: -62px;
        width: auto;
        height: auto;
        -webkit-animation: scale-in-top 1.8s cubic-bezier(0.190, 1.000, 0.220, 1.000) 2.5s both;
        animation: scale-in-top 1.8s cubic-bezier(0.190, 1.000, 0.220, 1.000) 2.5s both;
    }

    .terms-condition-container {
        position: absolute;
        bottom: 7.4%;
        color: #00404a;
    }

    #terms-condition {
        font-family: AtlasGrotesk-Thin;
        font-size: 8px;
        text-align: justify;
        -webkit-animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.9s both;
        animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.9s both;
    }

    #suncorp-logo-one {
        position: absolute;
        z-index: 2;
        top: 86em;
        width: 510px;
        -webkit-animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 2.3s both;
        animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 2.3s both;
    }

    .hiddenz {
        display: none;
    }
}

/*  _ ___ ___ __    _                 _
 / / _ \_  )  \  | |   __ _ _ _  __| |___ __ __ _ _ __  ___
 | \_, // / () | | |__/ _` | ' \/ _` (_-</ _/ _` | '_ \/ -_)
 |_|/_//___\__/  |____\__,_|_||_\__,_/__/\__\__,_| .__/\___|
                                                 |_|
*/
@media all and (min-width: 1700px) and (max-width: 2000px) {



    .container {
        position: absolute;
        width: 1920px;
        height: 1080px;
        z-index: 1;
        margin-right: 50px;
        margin-left: 47px;
        margin-bottom: 4.1em;
        margin-top: 47px;
    }

    .background-imagez {
        position: absolute;
        z-index: 0;
        opacity: 0.5;
        top: 6px;
        right: 4px;
    }

    .headline-container {
        display: inline-block;
        margin-left: 7px;
        margin-right: 20px;
        width: 100%;
    }

    #headline-one {
        margin-bottom: -1px;
        padding-top: 0.08em;
        font-family: AtlasGrotesk-Bold;
        letter-spacing: -4px;
        color: #029777;
        line-height: 1em;
        -webkit-animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
        animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
    }

    #headline-two {
        margin-bottom: 10px;
        position: absolute;
        font-family: AtlasGrotesk-Bold;
        letter-spacing: -2px;
        color: #029777;
        line-height: 1.1em;
        -webkit-animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.4s both;
        animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.4s both;
    }

    .headline-sub-container {
        position: absolute;
        top: 28.5%;
        left: 1%;
    }

    #headline-sub {
        font-family: AtlasGrotesk-Bold;
        width: 970px;
        color: #00404a;
        font-size: 35px;
        -webkit-animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.7s both;
        animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.7s both;
    }


    .container-for-flex {
        position: absolute;
        display: flex;
        flex-direction: row;

        top: 130px;
        width: 1600px;
        height: 500px;
    }

    .rate-one-container {
        position: relative;
        display: flex;
        flex-direction: row;
        padding-top: 190px;
        color: #00404a;
        -webkit-animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.9s both;
        animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.9s both;
    }

    #rate-one-whnu {
        position: relative;
        font-family: AtlasGrotesk-Medium;
        font-size: 371px;
        word-break: break-all;
    }

    .dynamic-rate {
        position: relative;
        display: flex;
        flex-direction: row;
        right: 356px;
    }

    .period-one {
        position: relative;
        bottom: 180px;
        right: 30px;
        font-family: AtlasGrotesk-Medium;
        font-size: 205px;
    }

    #rate-one-denu {
        position: relative;
        top: 43px;
        right: 30px;
        font-family: AtlasGrotesk-Medium;
        font-size: 185px;
        letter-spacing: -18px;
    }

    .percentage-one {
        position: relative;
        bottom: 30px;
        right: 20px;
        font-family: AtlasGrotesk-Medium;
        font-size: 95px;
    }

    #rate-one-spch {
        position: relative;
        top: 71px;
        right: 30px;
        font-family: AtlasGrotesk-Medium;
        font-size: 35px;
    }

    .per-annum-one {
        position: relative;
        top: 80px;
        right: 1.99em;
        font-family: AtlasGrotesk-Medium;
        font-size: 64px;
        letter-spacing: -3px;

    }

    #rate-one-capt {
        position: relative;
        top: 240px;
        left: 40px;
        width: 360px;
        font-size: 27px;
        font-family: AtlasGrotesk-Bold;
        /*        width: 360px;*/
    }

    /*
    MARSHMELLOOOOOOOOOOOOOOOOOOOWS
     */


    .stroke img {
        position: relative;
        right: 490px;
        top: 257px;
        width: 10em;
        height: 18em;
        -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.3s both;
        animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.3s both;
    }


    /*
    MARSHMELLOOOOOOOOOOOOOOOOOOOWS
     */


    .rate-two-container {
        position: relative;
        display: flex;
        flex-direction: row;
        padding-top: 190px;
        right: 520px;
        color: #00404a;
        -webkit-animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.9s both;
        animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.9s both;
    }

    .dynamic-rate2 {
        position: relative;
        display: flex;
        flex-direction: row;
        left: 316px;
    }


    #rate-two-whnu {
        font-family: AtlasGrotesk-Medium;
        font-size: 371px;
        text-align: right;
    }

    .period-two {
        font-family: AtlasGrotesk-Medium;
        position: relative;
        bottom: 171px;
        left: 160px;
        font-size: 200px;
    }

    #rate-two-denu {
        font-family: AtlasGrotesk-Medium;
        font-size: 185px;
        top: 43px;
        left: 162px;
        position: relative;
        letter-spacing: -18px;
    }

    .percentage-two {
        font-family: AtlasGrotesk-Medium;
        position: relative;
        bottom: 30px;
        left: 175px;
        font-size: 95px;
    }

    #rate-two-spch {
        font-family: AtlasGrotesk-Medium;
        top: 70px;
        left: 170px;
        font-size: 35px;
        position: relative;
    }

    .per-annum-two {
        font-family: AtlasGrotesk-Medium;
        position: relative;
        top: 80px;
        left: 63px;
        font-size: 64px;
        letter-spacing: -3px;
    }

    #rate-two-capt {
        font-family: AtlasGrotesk-Bold;
        top: 240px;
        left: 35px;
        font-size: 27px;
        position: relative;
    }

    /*
   ____________       __________                      ________
   __  ___/_  /______ __  /___(_)______               ___  __/__      _______
   _____ \_  __/  __ `/  __/_  /_  ___/  ________     __  /  __ | /| / /  __ \
   ____/ // /_ / /_/ // /_ _  / / /__    _/_____/     _  /   __ |/ |/ // /_/ /
   /____/ \__/ \__,_/ \__/ /_/  \___/                 /_/    ____/|__/ \____/  */



    .rate-note-container {
        position: absolute;
        top: 64.6%;
        left: 0.12%;
        color: #00404a;
        height: 100px;
    }

    #rate-note {
        font-family: AtlasGrotesk-Bold;
        font-size: 25px;
        text-align: left;
        letter-spacing: -0.3px;
        -webkit-animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 1.2s both;
        animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 1.2s both;
    }

    .call-to-action-container {
        position: absolute;
        color: #00404a;
        top: 74.6%;
        left: 0.2%;
    }

    #call-to-action {
        font-family: AtlasGrotesk-Bold;
        font-size: 40px;
        letter-spacing: -0.6px;
        -webkit-animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 1.9s both;
        animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 1.9s both;

    }

    .badge-container {

        /*
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
*/
        justify-content: space-around;
        position: absolute;
        top: 70%;
        right: 4.1%;
        width: 300px;
        height: 190px;
    }

    #award-badge-one {
        position: absolute;
        width: 140px;
        height: 140px;
        -webkit-animation: scale-in-top 1.8s cubic-bezier(0.190, 1.000, 0.220, 1.000) 3s both;
        animation: scale-in-top 1.8s cubic-bezier(0.190, 1.000, 0.220, 1.000) 3s both;

    }

    #award-badge-two {
        position: absolute;
        left: 130px;
        width: 140px;
        height: 140px;
        -webkit-animation: scale-in-top 1.8s cubic-bezier(0.190, 1.000, 0.220, 1.000) 2.5s both;
        animation: scale-in-top 1.8s cubic-bezier(0.190, 1.000, 0.220, 1.000) 2.5s both;
    }

    #award-badge-three {
        position: absolute;
        right: 10px;
        bottom: -50px;
        width: auto;
        height: auto;
        -webkit-animation: scale-in-top 1.8s cubic-bezier(0.190, 1.000, 0.220, 1.000) 2.5s both;
        animation: scale-in-top 1.8s cubic-bezier(0.190, 1.000, 0.220, 1.000) 2.5s both;
    }

    .hiddenz {
        display: none;
    }


    .terms-condition-container {
        position: absolute;
        color: #00404a;
        bottom: 7.8%;
    }

    #terms-condition {
        font-family: AtlasGrotesk-Thin;
        font-size: 8px;
        margin-right: 14.3em;
        margin-left: 0.5em;
        text-align: justify;
        -webkit-animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.9s both;
        animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.9s both;
    }

    #suncorp-logo-one {
        position: absolute;
        z-index: 2;
        top: 47.6em;
        right: 29em;
        width: 470px;
        -webkit-animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) 2.3s both;
        animation: fade-in 1.2s cubic-bezier(0.445, 0.050, 0.550, 0.950) s both;
    }
}

/*  ___        _
 | __|__ _ _| |_ ___
 | _/ _ \ ' \  _(_-<
 |_|\___/_||_\__/__/
                    */
@font-face {
    font-family: AtlasGrotesk-Black;
    src: url('../fonts/AtlasGrotesk-Black.otf') format('opentype');
}

@font-face {
    font-family: AtlasGrotesk-BlackItalic;
    src: url('../fonts/AtlasGrotesk-BlackItalic.otf') format('opentype');
}

@font-face {
    font-family: AtlasGrotesk-Bold;
    src: url('../fonts/AtlasGrotesk-Bold.otf') format('opentype');
}

@font-face {
    font-family: AtlasGrotesk-BoldItalic;
    src: url('../fonts/AtlasGrotesk-BoldItalic.otf') format('opentype');
}

@font-face {
    font-family: AtlasGrotesk-Light;
    src: url('../fonts/AtlasGrotesk-Light.otf') format('opentype');
}

@font-face {
    font-family: AtlasGrotesk-LightItalic;
    src: url('../fonts/AtlasGrotesk-LightItalic.otf') format('opentype');
}

@font-face {
    font-family: AtlasGrotesk-Medium;
    src: url('../fonts/AtlasGrotesk-Medium.otf') format('opentype');
}

@font-face {
    font-family: AtlasGrotesk-MediumItalic;
    src: url('../fonts/AtlasGrotesk-MediumItalic.otf') format('opentype');
}

@font-face {
    font-family: AtlasGrotesk-Regular;
    src: url('../fonts/AtlasGrotesk-Regular.otf') format('opentype');
}

@font-face {
    font-family: AtlasGrotesk-RegularItalic;
    src: url('../fonts/AtlasGrotesk-RegularItalic.otf') format('opentype');
}

@font-face {
    font-family: AtlasGrotesk-Thin;
    src: url('../fonts/AtlasGrotesk-Thin.otf') format('opentype');
}

@font-face {
    font-family: AtlasGrotesk-ThinItalic;
    src: url('../fonts/AtlasGrotesk-ThinItalic.otf') format('opentype');
}
