.msg-container-anim {
  animation-name: msg-container_anim;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
}

#image {
  animation-name: image_anim;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
}

.logo-img {
  animation-name: logo_anim;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-delay: calc(4.5s + var(--desDelay));
}

.headline-anim {
  display: block;
  animation-name: headline_anim;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 1s;
  overflow-wrap: break-word;
}

.span2 {
  animation-delay: 0.2s;
}

.span3 {
  animation-delay: 0.4s;
}

.span4 {
  animation-delay: 0.6s;
}

.divider {
  animation-name: divider_anim;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: var(--delay);
}

.msg-anim {
  animation-name: opacity_anim;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-delay: calc(2.5s + var(--delay));
}

.desSpan2 {
  animation-delay: calc(2.7s + var(--delay));
}

.event-img {
  animation-name: scale_anim;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-delay: calc(4.1s + var(--desDelay));
}

.event-location, .event-date, .event-time {
  animation-name: opacity_anim;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: calc(4.1s + var(--desDelay));
}

.event-img-date, .event-date{animation-delay: calc(4.3s + var(--desDelay));}
.event-img-time, .event-time{animation-delay: calc(4.5s + var(--desDelay));}


.highlight {
  animation-name: highlight_anim;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: calc(4.5s + var(--desDelay));
}

@keyframes image_anim {
  0% {transform: translateX(5vw);}
  100% {transform: translateX(0);}
}

@keyframes msg-container_anim {
  0% {transform: translateX(33.33vw);}
  100% {transform: translateX(0);}
}

@keyframes logo_anim {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes divider_anim {
  0% {transform: translateX(-100vw);}
  100% {transform: translateX(0);}
}

@keyframes scale_anim {
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}

@keyframes opacity_anim {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/*Portrait*/
@media (orientation: portrait) {
  @keyframes image_anim {
    0% {transform: translateY(15vh);}
    100% {transform: translateY(0);}
  }

  @keyframes msg-container_anim {
    0% {transform: translateY(33.33vh);}
    100% {transform: translateY(0);}
  }
}