@font-face {
  font-family: "Atlas-Regular";
  src: url("Atlas-Grotesk-Web-Light.otf") format("opentype");
}
@font-face {
  font-family: "Atlas-Bold";
  src: url("Atlas-Grotesk-Web-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Atlas-Medium";
  src: url("Atlas-Grotesk-Web-Medium.otf") format("opentype");
}
body {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.container {
  display: none;
}

:root {
	--delay: 0s;
	--desDelay: 0.2s;
}