
html {
	all: initial;
}

body {
	background-color: #F1F0ED;
}

p {
	white-space: pre-line;
}

.logo-img {
	position: absolute;
	top: 6vh;
	left: 4.6875vw;

	height: 9.25vh;
	z-index: 1
}

.img-container {
	position: absolute;
	top: 0;
	left: 66.67vw;
	right: 0;
	bottom: 0;
}

.img-container img {
	
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.msg-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 33.33vw;
	bottom: 0;

	padding: 18vh 2vw 2vh 4.3vw ;

	color: #004346;
	background-color: #F1F0ED;

	font-size: 1.77vw;
}

.msg-container-anim {
	position: absolute;
	top: 0;
	left: 0;
	right: 33.33vw;
	bottom: 0;

	padding: 18vh 2vw 2vh 4.3vw ;

	color: #004346;
	background-color: #F1F0ED;

	font-size: 1.77vw;
}

.mask {
	position: relative;
	clip-path: inset(0 0 0 0);
}

.headline, .divider {
	font-family: Atlas-Regular;
	font-size: 8.33vh;
	line-height: 10.27vh;
	
	margin: 0;
}

.divider {
	/*margin-top: 0;*/
}

.msg {
	font-family: Atlas-Regular;
	font-size: 2.5vh;
	line-height: 3.05vh;
	margin: 0;
}

.event-container {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	padding: 0 2vw 5.6vh 4.3vw ;
	/*margin-top: 5.83vh;*/
}

.event {
	float: left;
	width: 11.37vw;

	margin-left: 6.25vw;
}

.event-time {
	width: 13.37vw;
}

.event-img-location {
	width: 3.02vw;
}

.event-img-date {
	width: 3.64vw;
}

.event-img-time {
	width: 3.48vw;
}

.title {
	font-family: Atlas-Medium;
	font-size: 1.75vh;

	margin-top: 0;
	margin-bottom: 1vh;
}

.content {
	font-family: Atlas-Regular;
	font-size: 1.66vh;
	line-height: 1.94vh;

	margin-top: 0;
	margin-bottom: 0;
}

.highlight {
	clear: both;
	font-family: Atlas-Bold;
	font-size: 3.5vh;

	color: #009877;

	/*margin: 0;*/
	margin-top: 2.60vh;
	margin-bottom: 0;
	/*background-color: red;*/
}