
html {
	all: initial;
}

body {
	background-color: #F1F0ED;
}

p {
	white-space: pre-line;
}

.logo-img {
	position: absolute;
	top: 3.28vh;
	left: 8.24vw;

	height: 5.98vh;
	z-index: 1
}

.img-container {
	position: absolute;
	top: 72.44vh;
	right: 0;
	left: 0;
	bottom: 0;
}

.img-container img {
	
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.msg-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 27.56vh;

	padding: 11.19vh 4.5vw 2vh 8vw ;

	color: #004346;
	background-color: #F1F0ED;

	font-size: 1.77vw;
}

.msg-container-anim {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 27.56vh;

	padding: 11.19vh 4.5vw 2vh 8vw ;

	color: #004346;
	background-color: #F1F0ED;

	font-size: 1.77vw;
}

.mask {
	position: relative;
	clip-path: inset(0 0 0 0);
}

.headline, .divider {
	font-family: Atlas-Regular;
	font-size: 4.6875vh;
	line-height: 5.625vh;
	
	margin: 0;
	padding-right: 20vw;
}

.msg {
	font-family: Atlas-Regular;
	font-size: 1.40625vh;
	line-height: 1.71875vh;
	margin: 0;
}

.event-container {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	padding: 0 6vw 5.6vh 8vw ;
	/*margin-top: 5.83vh;*/
}

.event {
	float: left;
	/*width: 33%;*/
	width: 24.37vw;
}

.event-date, .event-time, .event-img-date, .event-img-time {
	margin-left: 3.4vw;
}

.event-img-location {
	width: 4.81vw;
}

.event-img-date {
	width: 6.57vw;
}

.event-img-time {
	width: 6.2vw;
}

.title {
	font-family: Atlas-Medium;
	font-size: 0.9375vh;
	line-height: 1.09375vh;

	margin-top: 0;
	margin-bottom: 1vw;
}

.content {
	font-family: Atlas-Regular;
	font-size: 0.9375vh;
	line-height: 1.09375vh;

	margin-top: 0;
	margin-bottom: 0;
}

.highlight {
	clear: both;
	font-family: Atlas-Bold;
	font-size: 2.08vh;
	line-height: 3.125vh;

	color: #009877;

	margin-top: 2.60vh;
	margin-bottom: 0;
}