.background_anim {
  animation-name: background_anim_entrance, background_anim_exit, background_y;
  animation-fill-mode: both, forwards, forwards;
  animation-timing-function: cubic-bezier(0, 0, 0.25, 1), cubic-bezier(0, 0, 0.25, 1), ease;
  animation-iteration-count: 1, 1, 1;
  animation-duration: 0.6s, 1s, 0.8s ;
  animation-delay: 0s, 0.6s, calc(5.1s + var(--delay) + var(--desDelay));
}

.img-container {
  animation-name: img_anim, img_bottom;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0.5, 0.75, 1);
  animation-timing-function: cubic-bezier(0, 0, 0.25, 1), ease;
  /*animation-timing-function: ease;*/
  animation-iteration-count: 1;
  animation-duration: 1s, 0.8s;
  animation-delay: 0.6s, calc(5.1s + var(--delay) + var(--desDelay));
}

.headline {
  animation-name: top_margin;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 0.8s;
  animation-delay: calc(5.1s + var(--delay) + var(--desDelay));
}

.headline-anim {
  display: block;
  animation-name: headline_anim;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, 0.25, 1);
  animation-iteration-count: 1;
  animation-duration: 0.8s;
  animation-delay: 1s;
  overflow-wrap: break-word;
}

.span2 {
  animation-delay: 1.2s;
}

.span3 {
  animation-delay: 1.4s;
}

.span4 {
  animation-delay: 1.6s;
}

.divider {
  animation-name: divider_anim;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, 0.25, 1);
  animation-iteration-count: 1;
  animation-duration: 0.8s;
  animation-delay: calc(1s + var(--delay));
}

.msg-anim {
  display: block;
  animation-name: msg_anim;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-delay: calc(3.5s + var(--delay));
}

.desSpan2 {
  animation-delay: calc(3.7s + var(--delay));
}

.desSpan3 {
  animation-delay: calc(3.9s + var(--delay));
}

.desSpan4 {
  animation-delay: calc(4.1s + var(--delay));
}

.event-img {
  animation-name: event-img_anim;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
  animation-iteration-count: 1;
  animation-duration: 0.8s;
  animation-delay: calc(4.3s + var(--delay) + var(--desDelay));
}

.event-location, .event-date, .event-time {
  animation-name: event-text_anim;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-timing-function: cubic-bezier(0, 0, 0., 1);
  animation-iteration-count: 1;
  animation-duration: 0.8s;
  animation-delay: calc(4.3s + var(--delay) + var(--desDelay));
}

.event-img-date, .event-date{
  animation-delay: calc(4.5s + var(--delay) + var(--desDelay));
}

.event-img-time, .event-time{
  animation-delay: calc(4.7s + var(--delay) + var(--desDelay));
}

.highlight {
  animation-name: highlight_anim;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, 0.25, 1);
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 0.8s;
  animation-delay: calc(5.1s + var(--delay) + var(--desDelay));
}

.footer {
  animation-name: footer_anim;
  animation-fill-mode: both;
  /*animation-timing-function: ease-out;*/
  animation-timing-function: cubic-bezier(0, 0, 0.25, 1);
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 0.8s;
  animation-delay: calc(5.1s + var(--delay) + var(--desDelay));
}

.footer-img {
  animation-name: footer_img_anim;
  animation-fill-mode: both;
  /*animation-timing-function: ease-out;*/
  animation-timing-function: cubic-bezier(0, 0, 0.25, 1);
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 0.8s;
  animation-delay: calc(5.1s + var(--delay) + var(--desDelay));
}

.msg-container {
  animation-name: top_margin;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, 0.25, 1);
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 0.8s;
  animation-delay: calc(5.1s + var(--delay) + var(--desDelay));
}

.event-container {
  animation-name: event_bottom;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, 0.25, 1);
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 0.8s;
  animation-delay: calc(5.1s + var(--delay) + var(--desDelay));
}

.img {
  animation-name: img_scale;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, 0.25, 1);
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 0.8s;
  animation-delay: calc(5.1s + var(--delay) + var(--desDelay));
}

@keyframes background_anim_entrance {
  0% {transform: translateX(-200vw);}
  100% {transform: translateX(-100vw);}
}

@keyframes background_anim_exit {
  0% {transform: translateX(-100vw);}
  100% {transform: translateX(50vw);}
}

@keyframes img_anim {
  0% {transform: translateX(-55vw);}
  100% {transform: translateX(0);}
}

@keyframes divider_anim {
  0% {transform: translateX(-50vw);}
  100% {transform: translateX(0);}
}

@keyframes event-img_anim {
  0% {transform: scale(0)}
  100% {transform: scale(1);}
}

@keyframes event-text_anim {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes footer_anim {
  0% {transform: translateY(13.5vh);}
  100% {transform: translateY(0);}
}

@keyframes footer_img_anim {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes top_margin {
  0% {padding-top: 8vh;}
  100% {padding-top: 0;}
}

@keyframes event_bottom {
  0% {margin-bottom: -8vh;}
  100% {margin-bottom: 0;}
}

@keyframes img_bottom {
  0% {bottom: 0;}
  100% {bottom: 13.5vh;}
}

@keyframes img_scale {
  0% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

@keyframes background_y {
}

/*Portrait*/
@media (orientation: portrait) {

  @keyframes background_anim_entrance {
    0% {transform: translateY(-200vh);}
    100% {transform: translateY(-100vh);}
  }

  @keyframes background_anim_exit {
    0% {transform: translateY(-100vh);}
    100% {transform: translateY(50vh);}
  }

  @keyframes background_y {
    0% {transform: translateY(50vh);}
    100% {transform: translateY(42.7vh);}
  }

  @keyframes img_bottom {
    0% {bottom: 50vh;}
    100% {bottom: 57.3vh;}
  }

  @keyframes img_anim {
    0% {transform: translateY(-55vh);}
    100% {transform: translateY(0);}
  }

  @keyframes headline_anim {
    0% {transform: translateX(-100vw);}
    100% {transform: translateX(0);}
  }

@keyframes divider_anim {
  0% {transform: translateX(-100vw);}
  100% {transform: translateX(0);}
}
}