
html {
	all: initial;
}

body {
	background-color: white;
}

p {
	white-space: pre-line;
}

.background_anim {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: -100vh;

	background-color: #00404A;
}

.img-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 57.3vh;
	z-index: -1;
}

.img {
	position: absolute;
	
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container #image {
	top: 20%;
	height: 80%;
}

#headline {	
	visibility: hidden;
}

.headline_mask {
	position: relative;

	clip-path: inset(0 0 0 0);
}

.headline, .divider {
	font-family: Atlas-Light;
	font-size: 3.65vh;

	margin-left: 6.76vw;
	margin-top: 3.23vh;
	margin-bottom: 0;
	margin-right: 13vw;

	color: #00404A;
}

.divider {
	margin-top: 0;
}

.msg-container {
	position: absolute;
	top: 46.1vh;
	left: 6.76vw;
	right: 6.76vw;

	color: white;

	font-size: 1.77vh;
	clip-path: inset(0 0 0 0);
}

.msg, .msg-divider {
	font-family: Atlas-Light;
	font-size: 1.77vh;
	line-height: 2.1875vh;

	margin: 0;
	color: white;
}

.event-container {
	position: absolute;
	left: 6.76vw;
	right: 6.76vw;
	bottom: 11.5vh;

	margin-top: 7.2vw;
}

.event {
	float: left;
	width: 27.33%;
	padding-right: 6%;
}

.event-time {
	width: 33.33%;
	padding-right: 0;
}

.event-mask {
	width: 100%;
	
	float: left;
	clip-path: inset(0 0 0 0);
	margin-bottom: 1vh;
}

.event-img-location {
	width: 7.13vw;
}

.event-img-date {
	width: 9.25vw;
}

.event-img-time {
	width: 8.33vw;
}

.title {
	font-family: Atlas-Medium;
	font-size: 1.25vh;

	margin-top: 0;
	margin-bottom: 1vh;
}

.content {
	font-family: Atlas-Light;
	font-size: 1.25vh;

	margin-top: 0;
}

.cta-mask {
	clear: both;
	position: relative;
	clip-path: inset(0 0 0 0);
}

.highlight {
	font-family: Atlas-Bold;
	font-size: 2.6vh;

	margin: 0;
}

.footer {
	position: absolute;
	top: 91.66vh;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: white;
}

.footer-img-mask {
	width: 100%;
	height: 100%;

	clip-path: inset(0 0 1vh 0);
}

.footer-img {
	position: absolute;
	top: 20%;
	left: 5vw;

	height: 10vw;
}