
html {
	all: initial;
}

body {
	background-color: white;
}

p {
	white-space: pre-line;
}

.background_anim {
	position: absolute;
	top: 0;
	left: 0;
	right: -100vw;
	bottom: 0;

	background-color: #00404A;
}

.img-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 50vw;
	bottom: 13.5vh;
	z-index: -1;
}

.img {
	position: absolute;
	
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container #image {
	top: 20%;
	height: 80%;
}

#headline {	
	visibility: hidden;
}

.headline_mask {
	position: relative;
	width: 50vw;
	clip-path: inset(0 0 0 0);
}

.headline, .divider {
	font-family: Atlas-Light;
	font-size: 3.65vw;

	margin-left: 4.375vw;
	margin-top: 6.4vh;
	margin-bottom: 0;
	margin-right: 4.375vw;

	color: #00404A;
}

.divider {
	margin-top: 0;
}

.msg-container {
	position: absolute;
	top: 6.4vh;
	left: 53vw;
	right: 3vw;

	color: white;

	font-size: 1.77vw;
	clip-path: inset(0 0 0 0);
}

.msg, .msg-divider {
	font-family: Atlas-Light;
	font-size: 1.77vw;
	line-height: 2.1875vw;

	margin: 0;
	color: white;
}

.event-container {
	position: absolute;
	left: 53vw;
	right: 3vw;
	bottom: 18.5vh;

	margin-top: 7.2vh;
}

.event {
	float: left;
	width: 33%;
	padding-right: 6%;
}

.event-time {
	width: 22%;
	padding-right: 0;
}

.event-mask {
	width: 100%;
	
	float: left;
	clip-path: inset(0 0 0 0);
	margin-bottom: 1.5vh;
}

.event-img-location {
	width: 3.2vw;
}

.event-img-date {
	width: 5.2vw;
}

.event-img-time {
	width: 4.85vw;
}

.title {
	font-family: Atlas-Medium;
	font-size: 1.25vw;

	margin-top: 0;
	margin-bottom: 1vh;
}

.content {
	font-family: Atlas-Light;
	font-size: 1.25vw;

	margin-top: 0;
}

.cta-mask {
	clear: both;
	position: relative;
	clip-path: inset(0 0 0 0);
}

.highlight {
	font-family: Atlas-Bold;
	font-size: 2.6vw;

	margin: 0;
}

.footer {
	position: absolute;
	top: 86.5vh;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: white;
}

.footer-img-mask {
	width: 100%;
	height: 100%;

	clip-path: inset(0 0 1vh 0);
}

.footer-img {
	position: absolute;
	top: 15%;
	left: 5vw;

	height: 10vh;
}