.gradient-img {
  animation-name: gradient_anim;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
}

.logo-img {
  animation-name: logo_anim;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 0.8s;
}

.headline-anim {
  display: block;
  animation-name: msg_anim;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 1.5s;
  overflow-wrap: break-word;
}

.span2 {
  animation-delay: 1.7s;
}

.span3 {
  animation-delay: 1.9s;
}

.span4 {
  animation-delay: 2.1s;
}

.span5 {
  animation-delay: 2.3s;
}

.span6 {
  animation-delay: 2.5s;
}

.span7 {
  animation-delay: 2.7s;
}

.widget_background {
  animation-name: widget_background_anim;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-duration: 0.3s;
  animation-delay: calc(2.5s + var(--delay));
}

.widget {
  animation-name: widget_anim;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-delay: calc(2.8s + var(--delay));
}

@keyframes widget_background_anim {
  0% { transform: translateY(-20.33vh); }
  100% { transform: translateY(0); }
}

@keyframes msg_anim {
  0% { transform: translateX(-100vw); }
  100% { transform: translateX(0); }
}

@keyframes widget_anim {
  0% {clip-path: inset(0 0 100% 0);}
  100% {clip-path: inset(0 0 0 0);}
}

@keyframes gradient_anim {
  0% {
    transform: translateY(-250vh);
  }
  45% {transform: translateY(-100vh);}
  55% {transform: translateY(-100vh);}

  100% {
    transform: translateY(0);
    animation-play-state: paused;
  }
}

@keyframes logo_anim {
  0% {opacity: 0;}
  100% {opacity: 1;}
}