
html {
	all: initial;
}

body {
	background-color: white;
}

.msg-container {
	position: absolute;
	bottom: 39.58vh;
	left: 5vw;
	right: 10vw;

	color: #00404A;
}

.msg {
	font-family: Atlas-Medium;
	color: #00404A;
	font-size: 7.29vh;
	line-height: 8.75vh;
}

.msg-mask {
	position: absolute;
	height: 100vh;
	width: 100vw;

	clip-path: inset(0 0 39.58vh 0);
}

.widget_background {
	position: absolute;
	top: 0;
	left: 58.39vw;
	right: 7.43vw;

	height: 12.9vh;

	background-color: #00404A;
}

.widget {
	position: absolute;
	top: 0;
	left: 58.33vw;
	right: 7.4vw;

	height: 13.02vh;

	background-color: #feca34;
}

.widget-placeholder {
	position: relative;
	top: 50%;

	display: block;
	height: 8vh;
	margin: auto;
	margin-top: -4vh;
}

.widget-container {
	position: relative;

	display: flex;
    align-items: center;
    justify-content: center;
	height: 100%;
}

.widget-text {
	font-family: Atlas-Medium;
	color: #00404A;
	font-size: 3.59vh;
}

.widget-img {
	margin-right: 1vw;
	width: 7.5vw;
}

.logo-img {
	position: absolute;
	top: 4.17vh;
	left: 5vw;

	width: 18.75vh;
}

.gradient-img {
	position: absolute;
	top: 0;

	height: 300vh;
}