.animate-FadeUp {
  animation-name: fade_up;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-duration: 1s;
  will-change: opacity;
}

.animate-SlideUp {
  animation-name: slide_up;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-duration: 1s;
  will-change: opacity;
}

.animate-FaderLeft {
  animation-name: fade_left;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-duration: 1s;
  will-change: opacity;
}

.divider {
  animation-delay: 0.2s;
}

.msg {
	animation-delay: 0.4s;
}

.event-img {
	animation-delay: 0.6s;
}

.title {
  animation-delay: 0.8s;
}

.content {
  animation-delay: 1s;
}

.highlight {
  animation-delay: 1.2s;
}

@keyframes fade_up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    animation-play-state: paused;
  }
}

@keyframes slide_up {
  0% {
    /*opacity: 0;*/
    transform: translateY(20vh);
  }

  100% {
    /*opacity: 1;*/
    transform: translateY(0);
    animation-play-state: paused;
  }
}

@keyframes fade_left {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    animation-play-state: paused;
  }
}