
html {
	all: initial;
}

body {
	background-color: #00404A;
}

p {
	white-space: pre-line;
}

.img-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 57.3vh;
}

.img {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	width: 100%;
}

.headline, .divider {
	font-family: Atlas-Regular;
	font-size: 3.65vh;

	margin-left: 6.76vw;
	margin-top: 3.23vh;
	margin-bottom: 0;
	margin-right: 13vw;

	color: #00404A;
}

.divider {
	margin-top: 0;
}

.msg-container {
	position: absolute;
	top: 46.1vh;
	left: 6.76vw;
	right: 6.76vw;

	color: white;

	font-size: 1.77vh;
}

.msg {
	font-family: Atlas-Regular;
	font-size: 1.77vh;

	margin: 0;
}

.event-container {
	margin-top: 7.2vw;
}

.event {
	float: left;
	width: 33.33%;
}

.event-img-location {
	width: 7.13vw;
}

.event-img-date {
	width: 9.25vw;
}

.event-img-time {
	width: 8.33vw;
}

.title {
	font-family: Atlas-Medium;
	font-size: 1.25vh;

	margin-top: 0;
	margin-bottom: 1vh;
}

.content {
	font-family: Atlas-Regular;
	font-size: 1.25vh;

	margin-top: 0;
}

.highlight {
	clear: both;
	font-family: Atlas-Bold;
	font-size: 2.6vh;

	margin: 0;
}

.footer {
	position: absolute;
	top: 91.66vh;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: white;
}

.footer-img {
	position: absolute;
	top: 20%;
	left: 5vw;

	height: 10vw;
}