
html {
	all: initial;
}

body {
	background-color: #00404A;
}

p {
	white-space: pre-line;
}

.img-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 50vw;
	bottom: 13.5vh;
}

.img {
	position: absolute;
	bottom: 0;

	width:100%;
}

.headline, .divider {
	font-family: Atlas-Regular;
	font-size: 3.65vw;

	margin-left: 4.375vw;
	margin-top: 6.4vh;
	margin-bottom: 0;
	margin-right: 4.375vw;

	color: #00404A;
}

.divider {
	margin-top: 0;
}

.msg-container {
	position: absolute;
	top: 6.4vh;
	left: 53vw;
	right: 3vw;

	color: white;

	font-size: 1.77vw;
}

.msg {
	font-family: Atlas-Regular;
	font-size: 1.77vw;

	margin: 0;
}

.event-container {
	margin-top: 7.2vh;
}

.event {
	float: left;
	width: 33.33%;
}

.event-img-location {
	width: 3.75vw;
}

.event-img-date {
	width: 5.2vw;
}

.event-img-time {
	width: 4.85vw;
}

.title {
	font-family: Atlas-Medium;
	font-size: 1.25vw;

	margin-top: 0;
	margin-bottom: 1vh;
}

.content {
	font-family: Atlas-Regular;
	font-size: 1.25vw;

	margin-top: 0;
}

.highlight {
	clear: both;
	font-family: Atlas-Bold;
	font-size: 2.6vw;

	margin: 0;
}

.footer {
	position: absolute;
	top: 86.5vh;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: white;
}

.footer-img {
	position: absolute;
	top: 15%;
	left: 5vw;

	height: 10vh;
}